<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name=”robots” content="index, follow">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Motor Parts & Accessories | Ed's All You Need</title>
	<meta name="description" content="ALL YOU NEED WITH FREE DELIVERY! Order 51Talk materials, motor parts, and motor accessories.">
	
	<meta property="og:title" content="FREE DELIVERY with  Ed's All You Need" />
	<meta property="og:description" content="ALL YOU NEED WITH FREE DELIVERY! Order 51Talk materials, motor parts, and motor accessories." />
	<meta property="og:image" content="../static/cover.jpg">
	
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico">
	<link rel="stylesheet" href="../static/style.css">
	
	
</head>
<body class="font-body text-white">

	<div id="vapp">
		<div class="grid lg:grid-cols-3 min-h-screen">
			<div class="col-span-1 bg-gray-500">
				<div class="w-full h-full overflow-hidden relative">
					<img src="../static/motor-cover-2.jpg" class="h-screen w-full object-cover object-center"/>
					<div class="absolute top-0 z-50 w-full h-full flex justify-center items-center">
						<h1 class="text-3xl font-brand font-bold lg:hidden bg-gray-800 p-2">Ed's All You Need</h1>
					</div>
				</div>
			</div>
			<div class="col-span-1 lg:col-span-2 bg-gray-800 lg:h-screen overflow-auto">
				<div class="p-5">
					<h1 class="text-3xl font-brand font-bold">Motor Parts & Accessories</h1>
					<h2 class="text-xl font-brand mb-10">
						<a href="/" class="hover:text-blue-500">by Ed's All You Need</a>
					</h2>
					<div class="lg:px-3 xl:px-10">
						<talk-component></talk-component>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://unpkg.com/vue@2.6.12/dist/vue.js" type="text/javascript"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
	
<script type="text/javascript">

Vue.component('talkComponent',{
	delimiters: ["[[","]]"],
	data() {
		return {
			items: [],
			loading: true,
		}
	},
	methods: {
		retrieve() {
			axios.get('https://eds-shop-cms.herokuapp.com/items?tag=motor')
				.then( response => {
					this.items = response.data;
					this.loading = false;
				});
		},
	},
	created() {
		this.retrieve();
	},
	template: `
	<div>
		<div v-if="loading" class="grid md:grid-cols-2 gap-10 mb-20 animate-pulse">
			<div class="flex flex-col border-4 border-white p-5 font-semibold justify-start space-y-5">
				<div class="flex justify-center h-56 w-64 bg-teal-500"></div>
				<div class="h-40 w-56 py-3 overflow-auto bg-teal-500"></div>
			</div>
			<div class="flex flex-col border-4 border-white p-5 font-semibold justify-start space-y-5">
				<div class="flex justify-center h-56 w-64 bg-teal-500"></div>
				<div class="h-40 w-56 py-3 overflow-auto bg-teal-500"></div>
			</div>
		</div>
		<div class="grid md:grid-cols-2 gap-10 mb-20">
			<div v-for="item in items" :key="item.id">
				<div class="flex flex-col border-4 border-white p-5 font-semibold justify-start space-y-5">
					<div class="flex justify-center h-56 w-full">
						<img :src="item.picture.url" class="object-cover object-top"/>
					</div>
					<h2 class="font-brand text-xl xl:text-3xl">[[ item.name ]]</h2>
					<div class="h-32 py-3 overflow-auto">
						<p class="whitespace-pre-line">[[ item.description ]]</p>
					</div>
					<a href="https://www.facebook.com/decenaeduard" class="border-4 border-white bg-gray-800 px-8 py-4 uppercase font-bold text-xl text-center hover:bg-white hover:text-gray-800">Order</a>
				</div>
			</div>
		</div>
	</div>
	`
	
})



var vapp = new Vue({
	delimiters: ["[[","]]"],
	el: '#vapp',
})


</script>
	
</body>
</html>
